.vcenter {
    margin-top: 20%;
}
a:hover {
    text-decoration: none;
}
.btn-bottom {
    vertical-align: bottom;
}
.jumbotron {
    padding-bottom: 0;
}
.fox-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}