.vcenter {
    margin-top: 20%;
}
a {
    color: #E89210;
}
a:hover {
    text-decoration: none;
    color: #B85926;
}
.btn-bottom {
    vertical-align: bottom;
}
.jumbotron {
    padding-bottom: 0;
}
.fox-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}
.btn-download {
    background-color: #E89210;
    border-color: #c67710;
    color: #fff;
}
.btn-download:hover {
    background-color: #B85926;
    border-color: #9e4f25;
}
